            .jumbotron {
                text-align: center;
                background: none;
                margin-bottom: 1rem;
            }
            
            .sectionLight {
                background-color: #ECF0F1;
                padding: 2rem;
            }
            
            .sectionDark {
                background-color: #979A9A;
                padding: 2rem;
            }
            
            .img-fluid {
                border-radius: 2px;
            }
            
            .buttonWrapper {
                margin: 20px 0 0 0;
            }
            
            button.buttonWrapperBtn {
                background-color: tomato;
                color: antiquewhite;
                margin: auto;
                display: block;
            }
            
            button.buttonWrapperBtn:hover {
                background-color: #922B21;
                color: ghostwhite;
            }
            
            .col-sm-12 img .img-fluid {
                display: block;
                margin: auto;
                text-align: center;
            }
            
            h5.modal-title {
                margin: auto;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            
            .modalformwrapper {
                padding: 2rem;
            }
            
            .imgcenter {
                display: block;
                margin: auto;
            }
            
            .btnCenter {
                display: block;
                margin: auto;
                margin-top: 10px;
                margin-bottom: 20px;
                width: 47%;
            }
            
            .btnCenter:hover {
                background-color: #922B21;
                color: ghostwhite;
            }
            
            .modal-content p {
                display: block;
                margin: auto;
                padding: .5rem;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
            
            .kickflipfooter {
                margin: auto;
                display: block;
                border-radius: 15px;
                padding: 10px;
            }
            
            .socialWrapper {
                margin: auto;
            }
            
            .footericon {
                padding: 10px;
            }
            
            .fa-facebook-square {
                color: #3b5998;
            }
            
            .fa-facebook-square:hover {
                color: #8b9dc3;
            }
            
            .fa-google {
                color: #F4B400;
            }
            
            .fa-google:hover {
                color: #7FBA00;
            }
            
            .fa-envelope {
                color: #F25022;
            }
            
            .fa-envelope:hover {
                color: #00A4EF;
            }